/* empty */
.card{
  height: 80vh;
  width: 170vh;
  padding: 25px;
  margin: 10px;
}

.card-title{
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Merriweather', serif;
}

.center img{
  clip-path: circle();
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 250px;
  width: 250px;
  margin: 20px 0px;
}

/* empty */

.whole{
  background: fixed;
  background-color: #fefae0;
  height: 90vh;
  margin: 0;
  padding: 10px;
  overflow-y: scroll;
}

#twhole{
  border: 3px solid #283618;
  margin: 0;
}

.ttitle{
  background-color: #283618;
  background-size: 20%;
  color: #dda15e;
  font-weight: 500;
  font-family: 'Merriweather', serif;
}

.btn{
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

caption{
  font-size: 25px;
  font-weight: 700;
  color: #283618;
  padding: 0.5em 6em;
}

.sign{
  background-color: #283618;
  color: #dda15e;
  clip-path: circle();
  padding: 3px;
  font-weight: 700;
  font-size: 15px;
  margin: 0px;
}
