#shop{
  color: #fefae0;
  font-weight: 800;
  font-size: 27px;
  font-family: 'Playfair Display', serif;
}

li> a.shopperz{
  color: #dda15e;
  font-size: 20px;
  margin: 0 5px;
}

.home{
  color: #dda15e;
  font-size: 20px;
  margin: 0 5px;
}

li> a.shopperz:hover{
  color: #fefae0;
}

.navbar{
  background-color:#283618;
  padding: 5px;
}

.btn{
  color:#283618;
  background-color: #fefae0;
}

.btn:hover{
  color: #dda15e;
  background-color: #fefae0;
}

#shopperz{
  color: #dda15e;
}

.badge{
  font-size: 10px;
  font-weight: 700;
  color: #283618;
  background-color: #fefae0;
}