<app-navbar (searchCategory)="onSearchTextEntered($event)"></app-navbar>
  <section class="bg-color" *ngIf ="allProducts">
    <div class="container-fluid">
      <div class="title text-center">
        <h1 class="seller"><span>ALL</span> PRODUCTS.</h1>
      </div>
      <div class="row whole row-cols-1 row-cols-md-3 g-4" >
        <div class="objects" *ngFor="let product of allProducts">
          <div class="col-md-4 prod" *ngIf="searchText === '' || product.category.toLowerCase().includes(searchText)">
            <div class="card">
              <img src="../../assets/fashion2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">{{ product.title }}</h6>
                <p class="card-text"> {{ product.price | currency }}</p>
                <p class="card-text"> {{ product.category }} </p>
                <div class="btnn">
                  <a [routerLink]="['/enlarged', product.id]" class="btn"> Details </a>
                  <a (click)="onAddToCart(product)" class="btn" id="add"> Add to Cart </a>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>