#shopperz{
  color: #dda15e;
}

.nav-link{
  color: #dda15e;
}

.navbar{
  background-color:#283618;
}

button{
  color:#283618;
  background-color: #fefae0;
}

button:hover{
  color: #dda15e;
  background-color: #fefae0;
}