<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">

    <a class="navbar-brand shopperz" id="shop" href="#"><fa-icon [icon]="faBagShopping"></fa-icon> {{siteName}} </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- home -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-evenly">
        <li class="nav-item home">     
          <a class="nav-link active" id="shopperz" aria-current="page" href="#">
            <fa-icon [icon]="faHouseUser"></fa-icon></a>
        </li>
        <!-- cart -->
        <li class="nav-item">
          <a class="nav-link shopperz" role="button" aria-expanded="false" >
            <fa-icon [icon]="faCartShopping"></fa-icon>
          </a>
        </li>
        <!-- logout -->
        <li class="nav-item">
          <a class="nav-link shopperz" role="button" aria-expanded="false">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
          </a>
        </li>
      </ul>
      
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" 
        [(ngModel)]="category" [ngModelOptions]="{standalone: true}" (input)="onSearchCategory()" placeholder="Search by category">
        <a class="btn btn-md active" aria-current="page" routerLink='/display' type="submit"> Search </a>
      </form>
    </div>
  </div>
</nav>
