.bg-color{
  padding: 5px;
  background: linear-gradient(to right, #dda15e, #dda15e) ;
}

@media (max-width: 600px) {
  body {
    background: linear-gradient(to bottom, #dda15e, #dda15e);
  }
}

.container-fluid{
  width: 90%;
  margin: 0 auto;
}

.title{
  margin-bottom: 5px;
  padding-bottom: 30px;
  position: relative;
}
.title::before{
  content: '';
  width: 200px;
  height: 3px;
  background-color: #fefae0;
  opacity: 0.6;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.title::after{
  content: '\f005';
  font-family: FontAwesome;
  color: #fefae0;
  width: 50px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  background-color: #283618;
  transform: translateX(-50%);
  font-size: 16px;
}

.seller{
  font-size: 32px;
  color:#fefae0;
  font-weight: 800;
  text-transform: uppercase;
}

.seller span{
  color: #283618;
}

.card-title{
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
}

/* whole card */
.whole{
  padding: 10px;
  display: flex;
}

.btn{
  background-color: #283618;
  color: #dda15e;
}

.card-text{
  text-transform: capitalize;
  font-weight: 600;
  margin: 7px;
  color: #283618;
  font-size: 16px;
}

.card-text span{
  color: #dda15e;
}

.sign{
  background-color: #dda15e;
  color: #283618;
  margin: 10px;
}

.content{
  padding: 10px;
}

span{
  font-weight: 500;
  font-size: 18px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}
