@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Merriweather:wght@700&family=Montserrat&family=Playfair+Display&family=Raleway&family=Roboto+Slab:wght@500&family=Source+Sans+Pro&display=swap');
*{
  font-family: 'Merriweather', serif;
  color: #283618;
  padding: 10px;
  margin: 0px;
  overflow-x: hidden;
  background-color: #FEFAE0;
}

#shopperz{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3em;
}

.sign{
  padding: 10px;  
}

button{
  color: #DDA15E;
  background-color: #283618;
}

button:hover{
  color: #FEFAE0;
  background-color: #DDA15E;
}

.icons{
  font-size: 23px;
}