<div class="whole">
  <nav class="navbar navbar-expand-lg navbar-light navv">
    <div class="container-fluid">
      
      <a class="navbar-brand" id="shopperz"> <fa-icon [icon]="faCartShopping"></fa-icon> Shopperz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- home -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-evenly text-center navbar-nav">
          <!-- items -->
          <li class="nav-item">
            <a class="nav-link shopperz" role="button" aria-expanded="false" routerLink="/login">
              Login
            </a>
          </li>
          <!-- cart -->
          <li class="nav-item">
            <a class="nav-link shopperz" role="button" aria-expanded="false" routerLink="/signup">
              Sign-up
            </a>
          </li>  
          <!-- logout -->
          <li class="nav-item">
            <a class="nav-link shopperz" role="button" aria-expanded="false" routerLink="/footer">
              Contact
            </a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>
  
  <!-- <nav class="navbar navbar-expand-lg navbar-light navv">
    <div class="container-fluid">
      <a class="navbar-brand" id="shopperz"> <fa-icon [icon]="faCartShopping"></fa-icon> Shopperz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent" >
        <div class="navbar-nav">
          <a class="nav-link active list" aria-current="page" routerLink="/login" >Login</a>
          <a class="nav-link active list" aria-current="page" routerLink="/signup" >Sign-up</a> 
          <a class="nav-link active list" aria-current="page" routerLink="/footer" >Contact</a>  
        </div>
      </div>
    </div> -->
  <!-- </nav> -->
  <div class="container-fluid home">
    <div class="bg-image"></div>
      <div class="row d-flex justify-content-center">
        <div class="col text-center bg-text">
          <h3 id="welcome">Welcome to Shopperz!</h3>
          <hr>
          <p id="start">Start shopping with us by logging in to <br>
            check out the available products.<br> Happy Shopping !!!</p>
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn btn-lg active" aria-current="page" routerLink='/display' >View Products </a>
            </div>
        </div>
      </div> 
  </div>
</div>
<app-footer></app-footer>