<!-- <h3>Your orders.</h3>
<hr>
<div class="cart-item" *ngFor="let item of product">
  <span>{{ item.title }}</span>
  <span>{{ item.price | currency }}</span>
</div> -->

<app-navbar></app-navbar>
<div class="table-responsive whole">
  <table class="table table-bordered table-md" id="twhole" >
    <thead class="ttitle">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Number</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of product, index as i">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ items.title }}</td>
        <td>{{ items.category }}</td>
        <td>{{ items.price }}</td>
        <td>{{ items.id }}</td>
      </tr>
    </tbody>
  </table> 
</div>
