.whole{
  background: fixed;
  background-color: #fefae0;
  height: 91vh;
  margin: 0;
  padding: 10px;
  overflow-y: hidden
}

#twhole{
  border: 3px solid #283618;
  margin: 0;
}

.ttitle{
  background-color: #283618;
  background-size: 20%;
  color: #dda15e;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}

.btn{
  padding: 5px;
  color: #DDA15E;
  background-color: #283618;
}



