<app-navbar></app-navbar>
<div class= "container-fluid whole">
  <div class="table-responsive ">
    <table class="table table-bordered table-md" id="twhole" >
      <thead class="ttitle">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product name</th>
          <th scope="col">Number</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col">Remove item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of items, index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.title }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.price }}</td>
          <td> <fa-icon [icon]="faTrash"></fa-icon> </td>
        </tr>
      </tbody>
    </table> 
  </div>
  <div class="d-grid gap-2 col-6 mx-auto d-flex justify-content-end">
    <a class="btn active" aria-current="page" routerLink='/'> Checkout </a>
    <a class="btn active" aria-current="page" routerLink='/display' (click)="onClearCart()"><fa-icon [icon]="faTrash"></fa-icon> Remove all </a>
  </div>

</div>