<div class="container-fluid login">
  <div class="intro">
    <h2 id="shopperz" class="text-center"><fa-icon [icon]="faCartShopping"></fa-icon>Shopperz</h2>
    <h3 class="login text-center">Log in to your Account</h3>
    <p class="text-center">Welcome back, please enter your details.</p>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="d-flex justify-content-center form-group">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <div class="col-md">
          <input type="text" class="form-control" required id="exampleFormControlInput1" 
          placeholder="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }" >
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
            <div *ngIf="f['username'].errors['minlength']">
              Username must be at least 6 characters
            </div>
            <div *ngIf="f['username'].errors['maxlength']">
              Username must not exceed 20 characters
            </div>
          </div>  
        </div>       
      </div> 

      <div class="mb-3 row">
        <label for="inputPassword" class="form-label">Password</label>
        <div class="col-md">
          <input type="password" class="form-control" formControlName="password" required [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
           id="inputPassword">
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              Username must not exceed 40 characters
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="d-grid gap-2 col-6 mx-auto">
      <input type="submit" value="Get Started" routerLink='/display' (click)="login()" class="btn" />
      <!-- <a type="submit" class="btn btn-lg active" aria-current="page" routerLink='/display' (click)="login()"> Get Started </a> -->
    </div>
  
    <div class="text-center">
      <p class="text-center"><a>Forgot your password?</a></p>
      <p class="sign">Don't have an account? <a routerLink="/signup">Sign up</a></p>
    </div>
  </form>
  <div class="d-flex justify-content-center icons">
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <fa-icon [icon]="faFacebook"></fa-icon>
    <fa-icon [icon]="faSquareTwitter"></fa-icon>
  </div>
</div>
