<div class="container-fluid login">
  <section class="intro">
    <h2 id="shopperz" class="text-center"><fa-icon [icon]="faCartShopping"></fa-icon>Shopperz</h2>
    <h3 class="login text-center"> Create your Account.</h3>
    <p class="text-center">Sign up now to get started with your account.</p>
  </section>

  <!--fields-->
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col">
        <label for="inputEmail4" class="form-label">Full name</label>
        <input type="text" class="form-control" placeholder="full name" aria-label="full name">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="name@email.com">
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="password">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="confirm password"> 
      </div>
    </div>
  </div>

  <!--terms-->
  <div class="col-12 d-flex justify-content-center">
      <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          I have read the Terms and Conditions.
        </label>
  </div>

  <!--button and contact us-->
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn" type="button" >Get Started</button>
  </div>
  <div class="d-flex justify-content-center icons">
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <fa-icon [icon]="faFacebook"></fa-icon>
    <fa-icon [icon]="faSquareTwitter"></fa-icon>
  </div>
</div>

 
