<app-navbar></app-navbar>
  <section class="bg-color">
    <div class="container-fluid">
      <div class="title text-center">
        <h1 class="seller"><span>Best</span> Seller</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/electronics2.jpg" class="card-img-top" alt="Product">
            <div class="card-body">
              <h5 class="card-title">Sony Headphones</h5>
              <p class="card-text"><b>Ksh. </b>120,000</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
<app-footer></app-footer>