<app-navbar></app-navbar>
  <section class="bg-color" >
    <div class="container-fluid" *ngIf ="product !== undefined">
      <div class="row whole row-cols-1 row-cols-md-2 g-4" >
        <div class="col prod" >      
          <div class="card text-center">
            <img src="../../assets/fashion2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title"> {{ product?.title }} </h6>
              <p class="card-text"> USD. {{ product?.price | currency }}</p>
              <p class="card-text"> {{ product?.category }} </p>
              <p class="card-text"><span> Description.</span> <br> {{ product?.description }} </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center">
            <img src="../../assets/fashion2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product?.title }}</h5>
              <p class="card-text"> USD. {{ product?.price }}</p>

              <!-- adding or reducing items -->
              <div class="content">
                <a class="btn-sm sign" (click)="increase()"> <fa-icon [icon]="faPlus"></fa-icon> </a>
                <span>{{ quantity }}</span>
                <a class="btn-sm sign" (click)="decrease()"> <fa-icon [icon]="faMinus"></fa-icon> </a>     
              </div>

              <a routerLink="/cart" class="btn" (click)="onAddToCart(product)"> Order </a>        
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
<app-footer></app-footer>
