@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Merriweather:wght@700&family=Montserrat&family=Playfair+Display&family=Raleway&family=Roboto+Slab:wght@500&family=Source+Sans+Pro&display=swap');
*{
  font-family: 'Merriweather', serif;
  color: #283618;
  padding: 8px;
  margin: 0px;
  overflow: hidden;
  background: linear-gradient(to bottom, #FEFAE0, #FEFAE0);
}

@media (max-width: 600px) {
  *{
    background: linear-gradient(to bottom, #FEFAE0, #FEFAE0);
  }
}

#shopperz{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3em;
}

.sign{
  padding: 10px; 
}

#btn{
  color: #DDA15E;
  background: #283618;
}

#btn:hover{
  color: #FEFAE0;
  background: #DDA15E;
}

.icons{
  font-size: 23px;
}