@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Merriweather:wght@700&family=Montserrat&family=Playfair+Display&family=Raleway&family=Roboto+Slab:wght@500&family=Source+Sans+Pro&display=swap');
#shopperz{
  font-weight: 800;
}

.home{
  background-image: url("../../assets/fashion2.jpg");
  background-repeat: no-repeat;
  background-size: 100%; 
  padding: 13.9em;
  overflow-y: hidden;
}

.navv{
  background-color: #283618;
}

.navv a{
  color: #dda15e;
}

.navbar-nav a.list{
  color: #dda15e;
}

.btn-group a{
  color: #fefae0;
  background-color: #283618;
}

.btn-group a:hover{
  color: #dda15e;
  background-color: #fefae0;
}

#welcome{
  font-size: 40px;
  color: #283618;
  font-weight: 800;
  font-family: 'Merriweather', serif;
}

#start{
  font-size: 30px;
  color: #283618;
  font-weight: 400;
  font-family: 'Merriweather', serif;
}