<div class="container-fluid checkout">
    <div class="row d-flex justify-content-center">
      <div class="col text-center bg-text">
        <h3 id="out">Delivery update</h3>
        <hr>
        <div class="d-flex justify-content-center icons">
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
        <p id="start"> Your order will be delivered to you <br>
          in the next few days to the location you provided.<br>
         Thank you for shopping with us !</p>
          <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-lg active" aria-current="page" routerLink='/display' > View Products </a>
          </div>
      </div>
    </div> 
</div>
