.checkout{
  font-family: 'Merriweather', serif;
  padding: 5px;
  color: #283618;
}

.btn{
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

.btn:hover{
  background-color: #283618;
  color: #dda15e;
}

.btn::after{
  background-color: #283618;
  color: #dda15e;
}

.select{
  background-color: #dda15e;
  color: #283618;
}

.subtotal{
  font-size: 15px;
  color: #283618;
  font-family: 'Merriweather', serif;
}

.voucher{
  color: #dda15e;
  font-weight: 900;
}

.total{
  font-size: 20px;
  color: #283618;
  font-family: 'Merriweather', serif;
}

.order{
  font-size: 22px;
  color: #283618;
  font-weight: 800;
  font-family: 'Merriweather', serif;
}

.btn-group{
  margin: 5px;
}

.summary {
  border: none;
  padding: 5px;
  margin: 10px;
}

.payment{
  padding: 5px;
  margin: 10px;
}

.cart{
  position: absolute;
  bottom: 3em;
}